#manage-users table tr td:nth-of-type(1){
	width: 3rem;
}

#manage-users table tr td:nth-of-type(2){
	width: 20%;
}

#manage-users table tr td:nth-of-type(3){
	width: 30%;
}

#manage-users table tr td:nth-of-type(4){
	width: 30%;
}

#manage-users table tr td:nth-of-type(5){
	width: 10%;
	min-width: 4rem;
}

#manage-users .manage-users-buttons{
	margin: 1rem 0;
	text-align: center;
}